<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" maxUrlLength="2097151" maxQueryStringLength="2097151" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
    
 
  </system.web>

  <appSettings>
    <add key="Connection" value="Data Source=oph-alpha;Initial Catalog=bot;User Id=gov;password=ljcom2x;timeout=600" />
  </appSettings>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2097151" maxUrl="2097151" maxQueryString="2097151" />
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>